@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
    transition: 0.5s;
}
body.active
{
    background: #f8f8f8;
}

#time
{
    display: flex;
    gap: 40px;
    color: rgb(9, 64, 245);
}

#time .circle
{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle svg
{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#time .circle svg circle
{
    width: 100px;
    height: 100px;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px, 5px);
} 

#time .circle svg circle:nth-child(2)
{
    stroke: var(--clr);
    stroke-dasharray: 440;
}
#time div
{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#time div span
{
    position: absolute;
    transform: translateX(-50%) translateY(-10px);
    font-size: 0.35em;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
#time .ap
{
    position: relative;
    font-size: 1em;
    transform: translateX(-20px);
}
.dots
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
}
.dots::before
{
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),0 0 60px var(--clr);
}
.tg
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
 #toggle
{
    position: absolute;
    top: 180px;
    left: 230px;
    display: block;
    width: 75px;
    height: 40px;
    border-radius: 40px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),inset 0 8px 8px rgba(0,0,0,0.1),inset 0 -4px 4px rgba(0,0,0,0.1);
}
#toggle.active
{
    background: #fff;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),inset 0 2px 8px rgba(0,0,0,0.1),inset 0 -4px 8px rgba(0,0,0,0.05);
}
#toggle .indicator
{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 40px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.5);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),inset 0 4px 4px rgba(255,255,255,0.2),inset 0 -4px 4px rgba(255,255,255,0.2);
    transition: 0.5s;
}
#toggle.active .indicator
{
    left: 25px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1),inset 0 4px 4px rgba(255,255,255,0.1),inset 0 -4px 4px rgba(255,255,255,0.1);
}
